
.icon-youtube:before { content: '\e800'; } /* '' */
.icon-github-squared:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */